- Refactor proof handlers to conduct proof verifications inline
  with the process function and apply variable naming conventions
  ([#230](https://github.com/cosmos/ibc-rs/issues/230))