[package]
name         = "ibc-core-host-types"
version      = { workspace = true }
authors      = { workspace = true }
edition      = { workspace = true }
rust-version = { workspace = true }
license      = { workspace = true }
repository   = { workspace = true }
keywords     = [ "blockchain", "cosmos", "ibc", "host", "types" ]
readme       = "./../../README.md"

description = """
    Maintained by `ibc-rs`, encapsulates essential ICS-24 Host Requirements data structures and domain types,
    as specified in the Inter-Blockchain Communication (IBC) protocol. Designed for universal applicability
    to facilitate development and integration across diverse IBC-enabled projects.
"""

[package.metadata.docs.rs]
all-features = true

[dependencies]
# external dependencies
base64      = { workspace = true }
borsh       = { workspace = true, optional = true }
derive_more = { workspace = true }
displaydoc  = { workspace = true }
http        = { version = "1.1.0" }
prost       = { workspace = true }
schemars    = { workspace = true, optional = true }
serde       = { workspace = true, optional = true }

# ibc dependencies
ibc-primitives = { workspace = true }

# parity dependencies
parity-scale-codec = { workspace = true, optional = true }
scale-info         = { workspace = true, optional = true }

# cosmos dependencies
tendermint-proto = { workspace = true }

[dev-dependencies]
rstest     = { workspace = true }
serde-json = { workspace = true }

[features]
default = [ "std" ]
std = [
  "displaydoc/std",
  "ibc-primitives/std",
]
serde = [
  "dep:serde",
  "ibc-primitives/serde",
]
schema = [
  "dep:schemars",
  "ibc-primitives/schema",
  "serde",
  "std",
]
borsh = [
  "dep:borsh",
  "ibc-primitives/borsh",
]
parity-scale-codec = [
  "dep:parity-scale-codec",
  "dep:scale-info",
  "ibc-primitives/parity-scale-codec",
]
